<a href="https://colab.research.google.com/github/Mark-Barbaric/IntermediateMachineLearning/blob/master/CMAR10_Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
ls: cannot access 'Intermediate': No such file or directory
ls: cannot access 'Machine': No such file or directory
ls: cannot access 'Learning/Week': No such file or directory
ls: cannot access '2/': No such file or directory

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

pd.options.display.float_format = '{:,.2f}'.format

#Custom Methods

In [ ]:
def missing_data(data):
  total = data.isnull().sum().sort_values(ascending = False)
  percent = (data.isnull().sum()/data.isnull().count()*100).sort_values(ascending = False)
  ms = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
  ms = ms[ms['Percent'] > 0]

  return ms

# 1. **Import and Remove and Tidy Missing Data**

In [ ]:
transaction_data = pd.read_csv('/content/drive/MyDrive/Intermediate Machine Learning/Week 2/bank_transactions.csv', thousands=',')
transaction_data

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,1,PAYMENT,"9,839.64",C1231006815,"170,136.00","160,296.36",M1979787155,0.00,0.00,0
1,1,PAYMENT,"1,864.28",C1666544295,"21,249.00","19,384.72",M2044282225,0.00,0.00,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,"21,182.00",0.00,1
4,1,PAYMENT,"11,668.14",C2048537720,"41,554.00","29,885.86",M1230701703,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...,...
99994,10,PAYMENT,62.19,C559473129,"215,097.09","215,034.89",M1361246816,0.00,0.00,1
99995,10,PAYMENT,"4,020.66",C1410794718,"159,929.00","155,908.34",M1257036576,0.00,0.00,0
99996,10,PAYMENT,"18,345.49",C744303677,"6,206.00",0.00,M1785344556,0.00,0.00,0
99997,10,CASH_IN,"183,774.91",C104331851,"39,173.00","222,947.91",C36392889,"54,925.05",0.00,0
99998,10,CASH_OUT,"82,237.17",C707662966,"6,031.00",0.00,C1553004158,"592,635.66","799,140.46",0

In [ ]:
transaction_data.columns = ['Step', 'Type', 'Amount', 'Source Name', 'Old Bal Source', 'New Bal Source', 'Dest Name', 'Old Bal Dest', 'New Bal Dest', 'Fraudulent']

In [ ]:
transaction_data.isna().sum()

Step              0
Type              6
Amount            6
Source Name       0
Old Bal Source    0
New Bal Source    0
Dest Name         0
Old Bal Dest      0
New Bal Dest      0
Fraudulent        0
dtype: int64

In [ ]:
transaction_data.dropna(subset=['Type', 'Amount'], inplace=True)
transaction_data

,Step,Type,Amount,Source Name,Old Bal Source,New Bal Source,Dest Name,Old Bal Dest,New Bal Dest,Fraudulent
0,1,PAYMENT,"9,839.64",C1231006815,"170,136.00","160,296.36",M1979787155,0.00,0.00,0
1,1,PAYMENT,"1,864.28",C1666544295,"21,249.00","19,384.72",M2044282225,0.00,0.00,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,"21,182.00",0.00,1
4,1,PAYMENT,"11,668.14",C2048537720,"41,554.00","29,885.86",M1230701703,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...,...
99994,10,PAYMENT,62.19,C559473129,"215,097.09","215,034.89",M1361246816,0.00,0.00,1
99995,10,PAYMENT,"4,020.66",C1410794718,"159,929.00","155,908.34",M1257036576,0.00,0.00,0
99996,10,PAYMENT,"18,345.49",C744303677,"6,206.00",0.00,M1785344556,0.00,0.00,0
99997,10,CASH_IN,"183,774.91",C104331851,"39,173.00","222,947.91",C36392889,"54,925.05",0.00,0
99998,10,CASH_OUT,"82,237.17",C707662966,"6,031.00",0.00,C1553004158,"592,635.66","799,140.46",0

In [ ]:
transaction_data.isna().sum()

Step              0
Type              0
Amount            0
Source Name       0
Old Bal Source    0
New Bal Source    0
Dest Name         0
Old Bal Dest      0
New Bal Dest      0
Fraudulent        0
dtype: int64

#Data Analysis

In [ ]:
analysis_data = transaction_data.copy()
transaction_data

,Step,Type,Amount,Source Name,Old Bal Source,New Bal Source,Dest Name,Old Bal Dest,New Bal Dest,Fraudulent
0,1,PAYMENT,"9,839.64",C1231006815,"170,136.00","160,296.36",M1979787155,0.00,0.00,0
1,1,PAYMENT,"1,864.28",C1666544295,"21,249.00","19,384.72",M2044282225,0.00,0.00,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,"21,182.00",0.00,1
4,1,PAYMENT,"11,668.14",C2048537720,"41,554.00","29,885.86",M1230701703,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...,...
99994,10,PAYMENT,62.19,C559473129,"215,097.09","215,034.89",M1361246816,0.00,0.00,1
99995,10,PAYMENT,"4,020.66",C1410794718,"159,929.00","155,908.34",M1257036576,0.00,0.00,0
99996,10,PAYMENT,"18,345.49",C744303677,"6,206.00",0.00,M1785344556,0.00,0.00,0
99997,10,CASH_IN,"183,774.91",C104331851,"39,173.00","222,947.91",C36392889,"54,925.05",0.00,0
99998,10,CASH_OUT,"82,237.17",C707662966,"6,031.00",0.00,C1553004158,"592,635.66","799,140.46",0

In [ ]:
analysis_data.describe()

,Step,Amount,Old Bal Source,New Bal Source,Old Bal Dest,New Bal Dest,Fraudulent
count,"99,987.00","99,987.00","99,987.00","99,987.00","99,987.00","99,987.00","99,987.00"
mean,8.50,"173,608.74","877,799.69","894,094.34","880,601.74","1,184,229.08",0.00
std,1.82,"344,316.01","2,673,433.46","2,711,460.06","2,402,444.45","2,802,673.34",0.04
min,1.00,0.32,0.00,0.00,0.00,0.00,0.00
25%,8.00,"9,964.92",0.00,0.00,0.00,0.00,0.00
50%,9.00,"52,759.48","20,063.41",0.00,"20,842.00","49,966.25",0.00
75%,10.00,"211,766.67","190,214.99","214,817.60","588,308.77","1,058,251.57",0.00
max,10.00,"10,000,000.00","33,800,000.00","34,000,000.00","34,000,000.00","38,900,000.00",1.00

In [ ]:
analysis_data.insert(6, 'Source Diff', analysis_data['New Bal Source'] - analysis_data['Old Bal Source'])
analysis_data.insert(10, 'Dest Diff', analysis_data['New Bal Dest'] - analysis_data['Old Bal Dest'])
#analysis_data['Diff Origin'] = analysis_data['Old Bal Source'] - analysis_data['New Bal Source']
#cols = list(analysis_data)

analysis_data

,Step,Type,Amount,Source Name,Old Bal Source,New Bal Source,Source Diff,Dest Name,Old Bal Dest,New Bal Dest,Dest Diff,Fraudulent
0,1,PAYMENT,"9,839.64",C1231006815,"170,136.00","160,296.36","-9,839.64",M1979787155,0.00,0.00,0.00,0
1,1,PAYMENT,"1,864.28",C1666544295,"21,249.00","19,384.72","-1,864.28",M2044282225,0.00,0.00,0.00,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,-181.00,C553264065,0.00,0.00,0.00,1
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,-181.00,C38997010,"21,182.00",0.00,"-21,182.00",1
4,1,PAYMENT,"11,668.14",C2048537720,"41,554.00","29,885.86","-11,668.14",M1230701703,0.00,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...
99994,10,PAYMENT,62.19,C559473129,"215,097.09","215,034.89",-62.20,M1361246816,0.00,0.00,0.00,1
99995,10,PAYMENT,"4,020.66",C1410794718,"159,929.00","155,908.34","-4,020.66",M1257036576,0.00,0.00,0.00,0
99996,10,PAYMENT,"18,345.49",C744303677,"6,206.00",0.00,"-6,206.00",M1785344556,0.00,0.00,0.00,0
99997,10,CASH_IN,"183,774.91",C104331851,"39,173.00","222,947.91","183,774.91",C36392889,"54,925.05",0.00,"-54,925.05",0
99998,10,CASH_OUT,"82,237.17",C707662966,"6,031.00",0.00,"-6,031.00",C1553004158,"592,635.66","799,140.46","206,504.80",0

In [ ]:
fraudulent_data = analysis_data.loc[analysis_data['Fraudulent'] == 1].copy()
fraudulent_data

,Step,Type,Amount,Source Name,Old Bal Source,New Bal Source,Source Diff,Dest Name,Old Bal Dest,New Bal Dest,Dest Diff,Fraudulent
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,-181.00,C553264065,0.00,0.00,0.00,1
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,-181.00,C38997010,"21,182.00",0.00,"-21,182.00",1
63,1,PAYMENT,"2,599.46",C885910946,"874,042.26","871,442.79","-2,599.47",M1860591867,0.00,0.00,0.00,1
117,1,CASH_OUT,"419,801.40",C1687354037,"38,197.63",0.00,"-38,197.63",C33524623,"499,962.00","1,517,262.16","1,017,300.16",1
212,1,CASH_OUT,"91,379.93",C913065088,0.00,0.00,0.00,C401424608,"1,241,634.38","1,178,808.14","-62,826.24",1
...,...,...,...,...,...,...,...,...,...,...,...,...
90359,10,PAYMENT,"11,202.14",C1204165772,"81,084.22","69,882.08","-11,202.14",M1728289048,0.00,0.00,0.00,1
99371,10,TRANSFER,"503,405.88",C1446009472,"503,405.88",0.00,"-503,405.88",C2010733400,0.00,0.00,0.00,1
99372,10,CASH_OUT,"503,405.88",C140359285,"503,405.88",0.00,"-503,405.88",C2020337583,"29,669.00","533,074.88","503,405.88",1
99969,10,CASH_OUT,"447,703.85",C750356344,"22,131.00",0.00,"-22,131.00",C1602862380,"95,932.47","449,140.95","353,208.48",1
99994,10,PAYMENT,62.19,C559473129,"215,097.09","215,034.89",-62.20,M1361246816,0.00,0.00,0.00,1

In [ ]:
sb.set(style="whitegrid")

NameError: ignored